{% extends 'base.html' %}

{% block content %}
    <h2>All CodeClan Books</h2>
    <section class="book-list-container">
        {% for book in all_books %}
            <a class="book-cell" href="/all_books/{{loop.index0}}">
                <div>
                    <h3><span id="book-title">{{ book.title }}</span></h3>
                    <hr>
                    <p>Author: <span id="book-author">{{ book.author }}</span></p>
                    <p>Genre: <span id="book-genre">{{ book.genre }}</span></p>
                    <p id="book-checked-out">
                        {% if checked_out %}
                            Checked Out: <span id="book-checked-out">Yes</span>
                        {% else %}
                            Checked Out: <span id="book-checked-out">No</span>
                        {% endif %}
                    </p>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}