{% extends 'base.html' %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <section class="book-list-container">
            <div>
                <h3>Title: <span id="book-title">{{ book.title }}</span></h3>
                <p>Author: <span id="book-author">{{ book.author }}</span></p>
                <p>Genre: <span id="book-genre">{{ book.genre }}</span></p>
                <p>Checked Out: <span id="book-checked-out">{{ book.checked_out }}</span></p>
            </div>
    </section>
{% endblock %}