body {
  margin: 0;
  padding-block: 40px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #101828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

ul>li {
  list-style: none;
}

ul>li>img {
  height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

ul>li>p {
  margin: 0;
  color: #667085;
  font-size: 12px;
  text-align: left;
}

ul>li>p>a {
  text-decoration: none;
  color: #667085;
  font-weight: 600;
}

ul>li>p>a:hover {
  text-decoration: underline;
}

.colour-picker {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.colour-picker>input {
  width: 200px;
  height: 40px;
  margin: auto;
  margin-top: 8px;
}